<div class="mod_securepdf_pages">{{#str}}page, mod_securepdf{{/str}} {{pagelabel}} / {{total}}</div>
{{#images}}
<img class="mod_securepdf_slide" src="data:image/png;base64, {{base64}}" alt="Page {{page}}" galleryimg="no" onContextMenu="return false;">
{{/images}}
<div class="mod_securepdf_pageslinks">

{{#hasprevious}}
    <a class="mod_securepdf_pagebtn mod_securepdf_navbtn" href="{{previousurl}}">&laquo;</a>
{{/hasprevious}}

{{#pages}}
   <a class="mod_securepdf_pagebtn{{#active}} active{{/active}}" href="{{url}}">{{page}}</a>
{{/pages}}

{{#hasnext}}
    <a class="mod_securepdf_pagebtn mod_securepdf_navbtn" href="{{nexturl}}">&raquo;</a>
{{/hasnext}}

</div>
